.danger {
    outline: 3px solid red;
}

.success {
    outline: 3px solid green;
}
div  {
    position: relative;
}
.success-checked::after {
    content: "\F26E";
    font-family: 'bootstrap-icons';
    color: green;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

input{
    background-color: transparent !important;
    background-image: none !important;
    color: -internal-light-dark-color(black, white) !important;
}